---
import Base from "@/layouts/Base.astro";
// import IndexHome from "@/layouts/ScreensReact";
import { t, changeLanguage } from "i18next";
import HeaderNav from "@/layouts/components/HeaderNav.astro";

changeLanguage("en");

export const prerender = true;
---

<Base meta_title={t("audio.title")!} description={t("audio.description")!}>
  <div
  
  >
    <HeaderNav />

  
    <article
      class="container w-full mx-auto font-normal prose prose-p:pt-3 dark:prose-invert"
    >      <h1 class="text-center custom-gradient-text">{t("audio.highlight")}</h1>
      <p set:html={t("audio.intro")} />

      <h3>{t("audio.highQuality")}</h3>
      <p set:html={t("audio.phighQuality")} />

      <h3>{t("audio.friendly")}</h3>
      <p set:html={t("audio.phfriendly")} />

      <h3>{t("audio.required")}</h3>
      <p set:html={t("audio.prequired")} />

      <h3>{t("audio.compatible")}</h3>
      <p set:html={t("audio.pcompatible")} />

      <h2>{t("audio.howtouse")}</h2>
      <p set:html={t("audio.phowtouse")} />

      <div class="flex items-center justify-center">
        <div
          class="flex flex-col items-center rounded-sm shadow-sm"
          style="margin: -0.5rem 1.5px; max-width: 280px; width: 100%;"
        >
          <img
            src="/images/copy-the-reel-url-audio.webp"
            alt="click on the 3 dots and get the url"
            loading="lazy"
            class="w-full p-0 bg-transparent rounded-lg"
            style="width: 100%; height: auto; max-width: 100%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);"
          />
        </div>
        <div
          class="flex flex-col items-center rounded-sm shadow-sm"
          style="margin: -0.5rem 1.5px; max-width: 280px; width: 100%;"
        >
          <img
            src="/images/paste-the-reels-url-audio.webp"
            alt="copy the url from the reels"
            loading="lazy"
            class="w-full p-0 bg-transparent rounded-lg"
            style="width: 100%; height: auto; max-width: 100%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);"
          />
        </div>
        <div
          class="flex flex-col items-center rounded-sm shadow-sm"
          style="margin: -0.5rem 1.5px; max-width: 280px; width: 100%;"
        >
          <img
            src="/images/download-the-reels-audio.webp"
            alt="after the process click on download reels audio"
            loading="lazy"
            class="w-full p-0 bg-transparent rounded-lg"
            style="width: 100%; height: auto; max-width: 100%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);"
          />
        </div>
      </div>

      <ol>
        <li>{t("audio.1step")}</li>
        <li>{t("audio.2step")}</li>
        <li>{t("audio.3step")}</li>
        <li>{t("audio.4step")}</li>
      </ol>

      <div>
        <h2>{t("audio.faq.title")}</h2>
        {
          (
            t("audio.faq.questions", {
              returnObjects: true,
            }) as []
          ).map((answer: any, question) => (
            <div class="p-2">
              <div class="text-white  collapse bg-base-200 collapse-arrow btn-accordion">
                <input type="checkbox" class="w-full" aria-label="faq" />
                <div class="font-medium text-md collapse-title">
                  {answer.question}
                </div>
                <div class="collapse-content">
                  <p set:html={answer.answer} />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </article>
  </div>
</Base>
